.weather-card {
  margin: 5px;
  border-radius: 15px;
  padding: 10px;
  border: thin solid gray;
  background-color: whitesmoke;
  flex: 0;
  width: 74px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.weather-datetime,
.weather-text {
  font-size: 0.75em;
  flex: 1;
}

.weather-forecast {
  flex: 3;
  min-height: 50px;
}

.weather-forecast.rainy,
.weather-forecast.cloudy,
.weather-forecast.partly-cloudy,
.weather-forecast.sunny {
  background-image: url("/weathericons.png");
  background-size: 200px;
}

.weather-forecast.sunny {
  background-position: 3px -5px;
}

.weather-forecast.rainy {
  background-position: 70px 57px;
}

.weather-forecast.cloudy {
  background-position: 137px -5px;
}

.weather-forecast.partly-cloudy {
  background-position: 4px -132px;
}
